.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2a2c2f;
  color: white;
  padding: 0 92px 148px;
}

.about__title {
  color: #fff;
  font-size: 54px;
  font-weight: 900;
  line-height: 58px;
  font-family: "inter", sans-serif;
  margin: 0 0 20px 0;
  max-width: 828px;
}

.about__conteiner {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: 705px;
  margin-bottom: 32px;
}

.about__subtitle {
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  font-family: "inter", sans-serif;
  max-width: 737px;
  margin: 0 0 9px 0;
}

.about__subtitle-author {
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  font-family: "inter", sans-serif;
  text-align: right;
  max-width: 732px;
  margin: 0 16px 0 0;
}

.about__text {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  font-family: "inter", sans-serif;
  max-width: 721px;
}

.about__photo-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

.about__image {
  width: 100%;
  height: 100%;
  max-width: 284px;
  max-height: 213px;
}

@media screen and (max-width: 1280px) {
  .about {
    padding: 0 24px 64px;
  }

  .about__conteiner {
    margin-bottom: 64px;
  }

  .about__title {
    margin: 0 0 58px 0;
  }
}

@media screen and (max-width: 720px) {
  .about {
    padding: 0 16px 38px;
  }

  .about__conteiner {
    margin-bottom: 38px;
  }

  .about__title {
    font-size: 32px;
    line-height: 35px;
    margin: 0 0 58px 0;
  }

  .about__subtitle {
    line-height: 30px;
    margin: 0 0 55px 0;
  }

  .about__subtitle-author {
    margin: 0 18px 0 0;
  }
}

@media screen and (max-width: 1280px) {
  .about__photo-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
  .about__image {
    max-width: 352px;
    max-height: 264px;
  }
}

@media screen and (max-width: 720px) {
  .about__photo-grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 12px;
  }
  .about__image {
    width: 100%;
    height: 100%;
  }
}
